<body>
<div class="d-flex justify-content-center" *ngIf="serviceTypeList">
  <div class="content_add col-xl-6" style="margin-top: 5em">
    <h2>Thêm mới menu</h2>
    <form [formGroup]="serviceForm" (ngSubmit)="create()">
      <div class="row align-items-end">
          <div class="form-group col-4">
            <div class="avt_img d-flex flex-column">
              <div class="avt_overlay">
                <label for="fileInput" class="upload-label">
                  <img id="previewImage" src="assets/img/White%20Simple%20Trendy%20Coffee%20Line%20Art%20Logo%20(1).png"
                       alt="Preview Image">
                  <span>Chọn Ảnh</span>
                </label>
              </div>
              <input (change)="showPreview($event)" formControlName="imgUrl" type="file" id="fileInput"
                     accept=".png, .jpg, .jpeg, .gif" class="file-input">
              <!-- <p class="text-danger">Bắt buộc nhập. </p> -->
            </div>
          </div>
          <div class="form-group col-8">
            <div class="form-group">
              <label for="name">Tên món:</label>
              <input formControlName="name" type="text" class="form-control" id="name" required
                     placeholder="Nhập tên món" maxlength="40">
              <span class="d-flex">
                                <div class="text-danger" *ngFor="let validation of validationMessages.name">
                                    <div class="error-message"
                                         *ngIf="serviceForm.get('name').hasError(validation.type) && (serviceForm.get('name').dirty || serviceForm.get('name').touched)">
                                        {{validation.message}}</div>
                                </div>
                            </span>
            </div>
          </div>
        <div class="row">
          <div class="form-group col-4">
            <div class="form-group">
              <label for="price">Giá bán:</label>
              <input formControlName="price" type="number" class="form-control" id="price" required
                     placeholder="Nhập giá bán" maxlength="40">
              <span class="d-flex">
                                <div class="text-danger" *ngFor="let validation of validationMessages.name">
                                    <div class="error-message"
                                         *ngIf="serviceForm.get('name').hasError(validation.type) && (serviceForm.get('name').dirty || serviceForm.get('name').touched)">
                                        {{validation.message}}</div>
                                </div>
                            </span>
            </div>
          </div>
          <div class="form-group col-4">
            <div class="form-group">
              <label for="sStatus">Tình trạng</label>
              <select formControlName="sStatus" type="text" class="form-control" id="sStatus" required>
                <option value=""></option>
                <option *ngFor="let status of statusList" value="{{status}}">{{status}}</option>
              </select>
              <span class="d-flex">
                                <div class="text-danger" *ngFor="let validation of validationMessages.name">
                                    <div class="error-message"
                                         *ngIf="serviceForm.get('name').hasError(validation.type) && (serviceForm.get('name').dirty || serviceForm.get('name').touched)">
                                        {{validation.message}}</div>
                                </div>
                            </span>
            </div>
          </div>
          <div class="form-group col-4">
            <div class="form-group">
              <label for="sServiceType">Nhóm</label>
              <select formControlName="sServiceType" type="text" class="form-control" id="sServiceType" required>
                <option value=""></option>
                <option *ngFor="let serviceType of serviceTypeList"
                        value="{{serviceType.name}}">{{serviceType.name}}</option>
                <span class="d-flex">
                                <div class="text-danger" *ngFor="let validation of validationMessages.name">
                                    <div class="error-message"
                                         *ngIf="serviceForm.get('name').hasError(validation.type) && (serviceForm.get('name').dirty || serviceForm.get('name').touched)">
                                        {{validation.message}}</div>
                                </div>
                            </span>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-12">
          </div>
          <div class="form-group">
            <label for="discription">Mô tả</label>
            <textarea formControlName="discription" type="text" class="form-control" id="discription"
                      placeholder="Nhập mô tả" maxlength="500" size="10">
                    </textarea>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <div class="mr-2">
            <button class="btn_action" style="margin-right: 15px !important;" type="submit"
                    [disabled]="isLoading">
              <span *ngIf="!isLoading">Xác Nhận</span>
              <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status"
                    aria-hidden="true"></span>
              <span *ngIf="isLoading" class="ms-2">Đang thêm...</span>
            </button>
          </div>
          <div style="margin-top: 17px !important">
            <a routerLink="/listMenu" class="btn btn-outline-danger btn-padding-10">Quay lại</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
</body>

<script src="../../../../assets/js/index1.js"></script>
