<section class="section4-new" style="margin-top: 80px;min-height: 600px;
          background: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
           ),url('/assets/img/section3_bg.jpg')">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="display-t js-fullheight">
        <div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
          <div class="font-Dancing-script" style="color: white;margin-bottom: 50px;line-height: 10px">Khám
            phá top <span class="badge badge-warning">5</span> món mới
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row justify-content-center align-items-center" *ngIf="newFoodList.length != 0; else isEmty">
      <div class="col-lg-2 col-md-2 div-content" *ngFor="let item of newFoodList">
        <img [src]="item.imgUrl">
        <h3 style="text-align: center">{{item.name}}</h3>
      </div>
    </div>
    <ng-template #isEmty>
      <h3 class="font-Dancing-script" style="color: #e3cc6f">
        Menu hiện quán đang cập nhật. Xin lỗi khách yêu!
      </h3>
    </ng-template>
  </div>

</section>

<section class="section4-new" style="margin-top: 80px;min-height: 600px;
          background: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
           ),url('/assets/img/section3_bg.jpg')">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="display-t js-fullheight">
        <div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
          <div class="font-Dancing-script" style="color: white;margin-bottom: 50px;line-height: 10px">Khám
            phá top <span class="badge badge-warning">5</span> món bán chạy nhất
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row justify-content-center align-items-center" *ngIf="bestSellerList.length != 0; else isEmty">
      <div class="col-lg-2 col-md-2 div-content" *ngFor="let item of bestSellerList">
        <img [src]="item.imgUrl">
        <h3 style="text-align: center">{{item.name}}</h3>
      </div>
    </div>
    <ng-template #isEmty>
      <h3 class="font-Dancing-script" style="color: #e3cc6f">
        Menu hiện quán đang cập nhật. Xin lỗi khách yêu!
      </h3>
    </ng-template>
  </div>

</section>
