<!--
feedback-list html file is used to show data

@author TuLG
@version 1.0
@since 2023-06-13
-->

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Quản lý thực đơn</title>
</head>
<body>
<div class="container_add" *ngIf="serviceList && serviceTypeList && statusList">
  <div class="d-flex justify-content-center">
    <div class="content_add col-xl-10">
      <h2 class="title">Danh sách thực đơn</h2>
      <!--      chức năng search -->
      <h4 style="color: white">Chức năng tìm kiếm</h4>
      <table class="table">
        <tbody>
        <tr>
          <td style="width: 110px"><label for="sName">Tên món</label></td>
          <td style="width: 180px"><input #sName type="text" class="form-control" id="sName" maxlength="100"
                                          [defaultValue]="serviceName">
          </td>
          <td style="width: 180px"><label for="sQuantityF">Số lượng bán ra</label></td>
          <td style="width: 120px"><input #sQuantityF type="number" class="form-control" id="sQuantityF" maxlength="9"
                     [defaultValue]="quantityF"></td>
          <td style="width: 120px"><input #sQuantityT type="number" class="form-control" id="sQuantityT" maxlength="9"
                     [defaultValue]="quantityT"></td>
          <td><label for="sPaymentF">Doanh thu</label></td>
          <td><input #sPaymentF type="number" class="form-control" id="sPaymentF" [defaultValue]="paymentF"></td>
          <td><input #sPaymentT type="number" class="form-control" id="sPaymentT" [defaultValue]="paymentT"></td>
        </tr>
        <tr>
          <td><label for="sType">Nhóm</label></td>
          <td><select #sType class="form-control" id="sType">
            <option value=""></option>
            <option *ngFor="let serviceType of serviceTypeList"
                    value="{{serviceType.name}}">{{serviceType.name}}</option>
          </select></td>
          <td style="width: 180px"><label for="sPriceF">Đơn giá</label></td>
          <td><input #sPriceF type="number" class="form-control" id="sPriceF" maxlength="10" [defaultValue]="priceF">
          </td>
          <td><input #sPriceT type="number" class="form-control" id="sPriceT" maxlength="10" [defaultValue]="priceT">
          </td>
          <td><label for="sCreatedDateF">Ngày tạo</label></td>
          <td><input #sCreatedDateF type="datetime-local" class="form-control" id="sCreatedDateF"
                     [defaultValue]="createdDateF"></td>
          <td><input #sCreatedDateT type="datetime-local" class="form-control" id="sCreatedDateT"
                     [defaultValue]="createdDateT"></td>
        </tr>
        <tr>
          <td><label for="sStatus">Tình trạng</label></td>
          <td><select id="sStatus" class="form-control" #sStatus>
            <option value=""></option>
            <option *ngFor="let status of statusList" value="{{status}}">{{status}}</option>
          </select></td>
          <td></td>
          <td></td>
          <td></td>
          <td><label for="sCreatedDateF">Khoảng thời gian</label></td>
          <td><input #paymentTimeF type="datetime-local" class="form-control" id="sPaymentTimeF"
                     [defaultValue]="paymentTimeF"></td>
          <td><input #paymentTimeT type="datetime-local" class="form-control" id="sPaymentTimeT"
                     [defaultValue]="paymentTimeT"></td>
        </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-secondary" (click)="reloadPage()">
          Làm mới
        </button>&nbsp;
        <button type="button" class="btn btn-success"
                (click)="search(sName.value, sPriceF.value, sPriceT.value, sType.value, sQuantityF.value,
                  sQuantityT.value, sStatus.value, sCreatedDateF.value, sCreatedDateT.value, sPaymentF.value,
                   sPaymentT.value, paymentTimeF.value , paymentTimeT.value)">
          Tìm kiếm
        </button>
      </div>
      <p *ngIf="dateErrorMessage" style="color: red">{{dateErrorMessage}}</p>
      <div class="card_main" style="margin-top: -2em">
        <p style="color: white" >TỔNG TIỀN: <span *ngIf="totalPaymentValue"
          style="font-size: 24px">{{formatCurrency(totalPaymentValue)}}</span></p>
        <table class="table" style="border: 1px solid gray;">
          <thead>
          <tr>
            <th>STT</th>
            <th>Hình ảnh</th>
            <th>Tên món</th>
            <th>Đơn giá</th>
            <th>Loại</th>
            <th>Giá bán<sup style="color: red">*</sup></th>
            <th style="cursor: pointer" (click)="sortQuantity()">Đã bán</th>
            <th>Doanh thu</th>
            <th>Trạng thái</th>
            <th class="text-center">Ngày tạo</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let service of serviceList; index as i">
            <td>{{i + 1}}</td>
            <td><img src="{{service.imgUrl}}" alt="" width="50px"></td>
            <td>{{service.serviceName}}</td>
            <td>{{formatCurrency(service.price)}}</td>
            <td>{{service.serviceType}}</td>
            <td>{{formatCurrency(service.salePrice)}}</td>
            <td>{{service.quantity}}</td>
            <td>{{formatCurrency(service.payment)}}</td>
            <td>
              <button
                [ngClass]="{'btn-danger': service.statusFlag == 'Vô hiệu', 'btn-success': service.statusFlag != 'Vô hiệu'}"
                class="btn" type="button" style="width: 102px" (click)="changeStatus(service.statusFlag, service.id)">
                {{service.statusFlag}}</button>
            </td>
            <td class="text-center">{{formatDate(service.createdDate)}}</td>
          </tr>
          </tbody>
          <tr *ngIf="noRecord">
            <td colspan="10">
              <h5 class="text-center validate-msg-color">Không có kết quả phù hợp</h5></td>
          </tr>
        </table>
        <p style="color: red">*: Trung bình cộng giá đã bán</p>
      </div>
      <div class="row mt-5" *ngIf="totalElements" style="cursor: pointer">
        <div class="col text-center">
          <div class="block-27">
            <ul>
              <ul>
                <li>
                  <a (click)="previousPage()" [class.disabled]="currentPage === 0">&lt;</a>
                </li>
                <li *ngFor="let page of pageRange" [class.active]="page === currentPage">
                  <a (click)="goToPage(page)">{{ page + 1 }}</a>
                </li>
                <li>
                  <a (click)="nextPage()" [class.disabled]="currentPage === totalPages - 1">&gt;</a>
                </li>
              </ul>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
