<footer class="ftco-footer ftco-section img">
  <div class="overlay"></div>
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-3 col-md-4 mb-5 mb-md-5">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">A0622I1 COFFEE</h2>
          <img src="assets/img/White%20Simple%20Trendy%20Coffee%20Line%20Art%20Logo%20(1).png" style="max-width: 200px;  height: auto;">
          <p>Đến với quán coffee của chúng tôi bạn sẽ thưởng thức được hương vị cafe nguyên chất nhất, với sự phục vụ lịch thiệp và chu đáo nhất</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
        <div class="ftco-footer-widget mb-4 ml-md-4">
          <h2 class="ftco-heading-2">Kết nối</h2>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-5 mb-md-5">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Thông Tin Liên Lạc</h2>
          <div class="block-23 mb-3">
            <ul>
              <li><span class="icon icon-map-marker"></span><span class="text">Đà Nẵng, Việt Nam</span></li>
              <li><a href="#"><span class="icon icon-phone"></span><span class="text">+84 987654321</span></a></li>
              <li><a href="#"><span class="icon icon-envelope"></span><span class="text">a0622i1@gmail.com</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
